*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #B1BBF8;
}

header{
    height: 100px;
    background-color: #fff;
}

#logo{
    height: 50px;
    margin: 20px;
    vertical-align: middle;
}

.logo-text{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
    display: inline;
}

main{
    width: 70%;
    margin: auto;
}

.buttons{
    background-color: #fff;
    margin-top: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.task-button{
    background-color: #47ADF1;
    border: 1px solid #47ADF1;
    height: 30px;
    border-radius: 5px;
    padding: 7px;
    color: #fff;
    margin-left: 50px;
    margin-bottom: 10px;
}

.sect-button{
    background-color: #fff;
    border: 1px solid #b9babb;
    height: 30px;
    border-radius: 5px;
    padding: 7px;
    color: #b9babb;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr{
    border: #B1BBF8;
}

.todo-list{
    background-color: #fff;  
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 600px;
}

.tasks{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 3px;
    padding-left: 20px;
    padding-top: 20px;
}

.tasks:before{
    content: "\25BC";
}

.list{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;    
    margin: 5px;
    padding-left: 20px;
    padding-top: 20px;
}

.list:before{
    content: "\2713";
    color: #09ff00;
    border: 1px solid #09ff00;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 15px;  
    width: 20px;
    text-align: center;  
    display: inline-block;
}

.category{
    background-color: #47ADF1;
    border: 1px solid #47ADF1;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    font-size: 13px;   
}

.list-container{
    margin-top: 20px;
}

.purple{
    background-color: #9C72E4;
    border: 1px solid #9C72E4;
}

.orange{
    background-color: #F29E33;
    border: 1px solid #F29E33;
}

.green{
    background-color: #64C0A9;
    border: 1px solid #64C0A9;
}

.undo:before{
    content: "\2716";
    color:#ff0000;
    border: 1px solid #ff0000 ;
}

.pink{
    background-color: #D863A1;
    border: 1px solid #D863A1
}

.olive{
    background-color: #B0C926;
    border: 1px solid #B0C926;
}


